Controller_Service/controller_env
Controller_Service/src/db.sqlite3
Controller_Service/src/company_profile/__pycache__
Controller_Service/src/company_profile/migrations/__pycache__
Controller_Service/src/core/__pycache__
Controller_Service/src/music/__pycache__
Controller_Service/src/music/migrations/__pycache__
Controller_Service/src/podcast/__pycache__
Controller_Service/src/podcast/migrations/__pycache__
Controller_Service/src/radio/__pycache__
Controller_Service/src/radio/migrations/__pycache__

Music_Player/music_player_env
Music_Player/src/db.sqlite3
Music_Player/src/core/__pycache__
Music_Player/src/player/__pycache__
Music_Player/src/player/migrations/__pycache__

Podcast_Player/podcast_player_env
Podcast_Player/src/db.sqlite3
Podcast_Player/src/core/__pycache__
Podcast_Player/src/player/__pycache__
Podcast_Player/src/player/migrations/__pycache__

Radio_Player/radio_player_env
Radio_Player/src/db.sqlite3
Radio_Player/src/core/__pycache__
Radio_Player/src/player/__pycache__
Radio_Player/src/player/migrations/__pycache__